:root {

    --color-primario: #f6d6e6;    /* Un rosa suave y elegante */
    --color-secundario: #d03381;  /* Un rosa más intenso para acentos y botones */
    --color-obscuro: #3a0020;    /* Un tono oscuro para texto y elementos destacados */
    --color-acento: #ff69b4;     /* Un rosa vibrante para destacar elementos importantes */
    --color-fondo: #ffffff;     /* Un fondo claro y acogedor */
}

/* Aplicación a componentes de Bootstrap */
.bg-primary {
    background-color: var(--color-primario) !important;
}

.bg-secondary {
    background-color: var(--color-obscuro) !important;
}

.btn-primary {
    background-color: var(--color-primario) !important;
    border-color: var(--color-primario) !important;
}

.text-primary {
    color: var(--color-primario) !important;
}

.btn-success {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
    color: white !important;
}

.bg-light {
    background-color: var(--color-fondo) !important;
}

.text-primary {
    color: var(--color-obscuro) !important;
}