body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: #333;
}

form {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 450px;
    width: 100%;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-top: 25px;
    font-size: 1.4rem;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; /* Asegura que el padding no desborde el ancho */
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #3498db;
    background-color: #f9fbff;
}

button {
    width: 100%;
    background-color: #b02a6d;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}   

button:hover {
    background-color: #b02a6d;
}

/*TODA ESTA SECCION SE UTILIZA EN reservaciones.html*/

.accordion {
background-color: #b02a6d;
color: white;
cursor: pointer;
padding: 14px;
width: 50%;
text-align: center;
border: none;
border-radius: 6px;
outline: none;
transition: 0.4s;
}

.active, .accordion:hover {
background-color: #b02a6d;
}

.panel {
padding: 0 18px;
background-color: rgb(231, 230, 230);
display: none;
overflow: hidden;
}
#cancelar {
    background-color: #ff1900;
    margin-top: 15px;
}