

.contenedor-form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.formulario {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 900px; 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}


h2 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-top: 25px;
    font-size: 1.4rem;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; /* Asegura que el padding no desborde el ancho */
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #3498db;
    background-color: #f9fbff;
}

button {
    width: 100%;
    background-color: #b02a6d;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}   

button:hover {
    background-color: #b02a6d;
}

/*TODA ESTA SECCION SE UTILIZA EN reservaciones.html*/

.accordion {
background-color: #b02a6d;
color: white;
cursor: pointer;
padding: 14px;
width: 50%;
text-align: center;
border: none;
border-radius: 6px;
outline: none;
transition: 0.4s;
}

.active, .accordion:hover {
background-color: #b02a6d;
}

.panel {
padding: 0 18px;
background-color: rgb(231, 230, 230);
display: none;
overflow: hidden;
}
#cancelar {
    background-color: #ff1900;
    margin-top: 15px;
}

#descripcionServicio{
    width: 100%;
    min-height: 100px; /* Dale altura para que no parezca una línea */
    padding: 10px;      /* Espacio interno para que el texto no toque los bordes */
    resize: vertical;   /* Permite al usuario estirarlo solo hacia abajo */
    box-sizing: border-box; /* Asegura que el padding no rompa el ancho */
    
    /* Esto asegura que el texto empiece arriba a la izquierda */
    vertical-align: top; 
    text-align: left;
}



.contenedor-tabla {
    max-width: 1000px;
    margin: 20px auto;
    overflow-x: auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.tabla-servicios {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tabla-servicios th, .tabla-servicios td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.tabla-servicios th {
    background-color: #b02a6d; /* Color oscuro usado en tus headers  */
    color: white;
}

/* Botones de acción específicos */
.btn-editar {
    background-color: #3498db;
    width: auto;
    padding: 8px 15px;
    font-size: 0.9rem;
}

.btn-eliminar {
    background-color: #ff1900; /* Rojo similar a tu botón cancelar  */
    width: auto;
    padding: 8px 15px;
    font-size: 0.9rem;
}