/* Configuración General */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(2000deg, #c45ac4, #e6457b, #ef8e70);
    color: #1f2937;
}

/* Encabezados */
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}

/* Navegación */
.contenedor-botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.btn-menu {
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
    border: #8400AF solid 3px;
    background: transparent;
    font-weight: bold;
}

.btn-menu:hover {
    color: white;
    background-color: #8400AF;
}

/* CONTENEDOR DE LA GALERÍA */
.contenedor-galeria {
    display: grid;
    /* 2 columnas que ocupan el mismo espacio */
    grid-template-columns: 1fr 1fr; 
    /* Espacio de separación entre las tarjetas */
    gap: 40px; 
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto; /* Centra toda la cuadrícula */
}

/* Cada tarjeta individual */
.tarjeta-habitacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagen-habitacion {
    width: 100%; /* La imagen se adapta al ancho de la columna */
    max-width: 400px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Botón Reservar */
.btn-reservar {
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
    border: #8400AF solid 3px;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.btn-reservar:hover {
    color: white;
    background-color: #8400AF;
}

/*Si se ve en celular, que se ponga en 1 sola columna */
@media (max-width: 768px) {
    .contenedor-galeria {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

.seccion-inicio {
    width: 100%;       /* Ocupa todo el ancho */
    height: 800px;     /* Dale la altura que más te guste para el hotel */
    overflow: hidden;  /* Corta lo que sobre de la imagen */
    margin: 0;         /* Pegado a la barra de navegación */
    padding: 0;
}

.ampl-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; 
    display: block;
}


